<launch>
  <arg name="host"/>
  <arg name="fps" default="30"/>

  <include file="$(find neato_node)/launch/bringup.launch">
	 <arg name="host" value="$(arg host)"/>
   <arg name="fps" default="$(arg fps)"/>
  </include>

  <node pkg="extended_neato_soccer" type="balltinder.py" name="balltinder"/>
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keycontrol"/>
</launch>
